<!DOCTYPE html>
<html lang="en">
<head>
<title>SmartBook</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="../static/pagestyle.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
	<h1 id="bookName">Address Book 1</h1> 
	<p>Add new entry to the book</p> 
</div>

<div class="center">
	<div class="col-sm-6">
		<div class="panel panel-success">
			<input type="text" class="form-control" id="FirstName" placeholder="First name" maxlength="50" />
		</div>
	</div>  
	<div class="col-sm-6">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="LastName" placeholder="Last name" maxlength="50" />
		</div>    
	</div>
	<div class="col-sm-12">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="PHONENUMBER" placeholder="Number" maxlength="11" />
		</div>    
	</div>
	<div class="col-sm-12">  
		<div class="panel panel-success">
			<input type="email" class="form-control" id="EMAIL" placeholder="Email" maxlength="100" />
		</div>    
	</div>
	<div class="col-sm-12">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="ADDRESS1" placeholder="Street address 1" maxlength="100" />
		</div>    
	</div>
	<div class="col-sm-12">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="ADDRESS2" placeholder="Street address 2" maxlength="100" />
		</div>    
	</div>
	
	<div class="col-sm-6">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="CITY" placeholder="City" maxlength="20"/>
		</div>    
	</div>
	<div class="col-sm-2">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="STATE" placeholder="State" maxlength="20" />
		</div>    
	</div>
	<div class="col-sm-2">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="ZIPCODE" placeholder="Zipcode" maxlength="5" />
		</div>    
	</div>
	<div class="col-sm-2">  
		<div class="panel panel-success">
			<input type="text" class="form-control" id="EXTENSION" placeholder="Ext" maxlength="4"/>
		</div>    
	</div>

	<div class="center1">
		<div class="col-md-6">
			<button class="btn btn-color" type="button" onclick="addContact()"> Save </button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-color" type="button" onclick="cancel()"> Cancel </button>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	var query = location.search.substring(1);
	var vars = query.split("&");
	var book = "";
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split("=");
		if ( pair[0] == "book" ) {
			book = decodeURIComponent(pair[1]);
		}
	}

	document.getElementById("bookName").innerHTML = book;

// Slide in elements on scroll
$(window).scroll(function() {
	$(".slideanim").each(function(){
		var pos = $(this).offset().top;

		var winTop = $(window).scrollTop();
		if (pos < winTop + 600) {
		$(this).addClass("slide");
		}
		});
	});
})
function cancel() {
	var book = "";
	var urlVar = location.search.split('book=')[1];
	book = decodeURIComponent(urlVar);
	location.href = ('openBook?book='+book);
}

$SCRIPT_ROOT = {{request.script_root|tojson|safe}};
function addContact() {
	var query = location.search.substring(1);
	var vars = query.split("&");
	var book = "";
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split("=");
		if ( pair[0] == "book" ) {
			book = decodeURIComponent(pair[1]); 
		}
	}

	var FirstName = document.getElementById("FirstName").value;
	var LastName = document.getElementById("LastName").value;
	var PHONENUMBER = document.getElementById("PHONENUMBER").value;
	var EMAIL = document.getElementById("EMAIL").value;
	var ADDRESS1 = document.getElementById("ADDRESS1").value;
	var ADDRESS2 = document.getElementById("ADDRESS2").value;
	var CITY = document.getElementById("CITY").value;
	var STATE = document.getElementById("STATE").value;
	var ZIPCODE = document.getElementById("ZIPCODE").value;
	var EXTENSION = document.getElementById("EXTENSION").value;
	// AJAX request
	$.getJSON($SCRIPT_ROOT + '/_add_contact', { book_name: book,
												first_name: FirstName, 
												last_name: LastName,
												phone:PHONENUMBER,
												email:EMAIL,
												street_address1:ADDRESS1,
												street_address2:ADDRESS2,
												city:CITY,
												state:STATE,
												zipcode:ZIPCODE,
												extension:EXTENSION } 
	);
	setTimeout( function() {location.href = ('openBook?book='+book);}, 150);


}
</script>

</body>
</html>
