
<!DOCTYPE html>
<html lang="en">
<head>
<title>Address book</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="../static/pagestyle.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div id="dialog"> 
	<input type="text" id="input1" /> 
	<input type="text" id="input2" /> 
</div>


<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		</div>
	</div>
</nav>

<div class="jumbotron text-center">
	<h1>SmartBook</h1> 
	<p>Create a new address book</p> 
	<form class="form-inline">
		<input type="text" class="form-control" size="50" onKeydown="Javascript: if (event.keyCode==13) createbook()" id="createText" placeholder="Name of Address Book" required>
		<button type="button" class="btn btn-danger" id="createButton" onclick="createbook()">Create</button>
	</form>
</div>
{% for book in session.books %}

<!-- Container (Address Books List Section) -->
<div id="books" class="container-fluid">
	<div class="text-center">
	</div>
	<div class="row slideanim">
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-body clearfix"> 
						{{ book }}
						<button type="button" class="btn btn-default pull-right" onclick="exportBook('{{book}}')">Export</button>
						<button type="button" class="btn btn-default pull-right" onclick="deleteConf('{{book}}')">Delete</button>
						<button type="button" class="btn btn-default pull-right" onclick="jopenbook('{{book}}')">Open</button>
						<button type="button" class="btn btn-default pull-right" onclick="renameBook('{{book}}')">Rename</button>
					</div>
				</div>
			</div>  
		</div>  
	</div>
</div>


{% endfor %}

<footer class="container-fluid text-center">
	<a href="#myPage" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>	
</footer>

<script>



$(document).ready(function(){

	//var UserName = prompt("Please enter your username", "");
	//var Passkey = prompt("Please enter your password", "");

	UserName = JSON.stringify({ 'User': UserName});
	Passkey = JSON.stringify({'password': Passkey});


	// Add smooth scrolling to all links in navbar + footer link
	$(".navbar a, footer a[href='#myPage']").on('click', function(event) {

		// Prevent default anchor click behavior
		event.preventDefault();

		// Store hash
		var hash = this.hash;


		// Using jQuery's animate() method to add smooth page scroll
		// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
		$('html, body').animate({
			scrollTop: $(hash).offset().top
		}, 900, function(){

		// Add hash (#) to URL when done scrolling (default click behavior)
		window.location.hash = hash;
		});
	});

	// Slide in elements on scroll
	$(window).scroll(function() {
		$(".slideanim").each(function(){
			var pos = $(this).offset().top;

			var winTop = $(window).scrollTop();
			if (pos < winTop + 600) {
				$(this).addClass("slide");
			}
		});
	});
})

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
function deleteConf(book) {
	var delConf = confirm("Are you sure you want to delete " + book + "?");
	if (delConf) {
		$.getJSON($SCRIPT_ROOT + '/_del_entry', { _id: book } );
		setTimeout(function(){ location.reload(true); }, 150);
		
	}

}
function createbook() {
	var bookName = document.getElementById("createText").value;

	// AJAX request
	$.getJSON($SCRIPT_ROOT + '/_add_book', { book_name: bookName } );
	setTimeout(function(){ location.reload(true); }, 150);
}

function renameBook(book) {
	var bookName = prompt("What would you like to rename " + book + " to?", "");

	// AJAX request
	$.getJSON($SCRIPT_ROOT + '/renameBook', { book_name: book, newName: bookName } );
	setTimeout(function(){ location.reload(true); }, 150);
}

function jopenbook(book) { 
	window.open('openBook?book='+book);
}

function exportBook(book) { 
    var fileName = prompt("What should the export file be named?");
    // AJAX request
    $.getJSON($SCRIPT_ROOT + '/exportBook', { book_name: book, file: fileName } );
}

</script>

</body>
</html>
